body {
    font-family: Helvetica, sans-serif;
}

/* background image not working*/

h1 {
    background-image: url("C:\Users\welch\Documents\Codecademy\dasmoto\media\images\pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#brushes {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;

}

#frames {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#paint {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.Blue-font {
    font-weight: bold;
    color: blue;

}